Repository xefheh/envelope, pull requests merged in 2024-11, with the labels that each got.

#20 #envelopedev46 feature сервис тэгов
  envelope-backend/envelope-backend.sln
  envelope-backend/src/services/TagManagementService/TagManagement.Application/DependencyInjection.cs
  envelope-backend/src/services/TagManagementService/TagManagement.Application/Exceptions/InvalidNameException.cs
  envelope-backend/src/services/TagManagementService/TagManagement.Application/Repositories/ITagRepository.cs
  envelope-backend/src/services/TagManagementService/TagManagement.Application/Request/TagRequest.cs
  envelope-backend/src/services/TagManagementService/TagManagement.Application/Response/TagDTO.cs
  envelope-backend/src/services/TagManagementService/TagManagement.Application/Services/TagService.cs
  envelope-backend/src/services/TagManagementService/TagManagement.Application/TagManagement.Application.csproj
  envelope-backend/src/services/TagManagementService/TagManagement.Domain/Entities/Tag.cs
  envelope-backend/src/services/TagManagementService/TagManagement.Domain/Enums/TagType.cs
  envelope-backend/src/services/TagManagementService/TagManagement.Domain/TagManagement.Domain.csproj
  envelope-backend/src/services/TagManagementService/TagManagement.Persistence/Context/TagContext.cs
  envelope-backend/src/services/TagManagementService/TagManagement.Persistence/DependencyInjection.cs
  envelope-backend/src/services/TagManagementService/TagManagement.Persistence/Exception/NotFoundConnectionStringException.cs
  envelope-backend/src/services/TagManagementService/TagManagement.Persistence/Repositories/TagRepository.cs
  envelope-backend/src/services/TagManagementService/TagManagement.Persistence/TagManagement.Persistence.csproj
  envelope-backend/tests/services/CoursesService.Tests/CoursesService.Tests.csproj
  envelope-backend/tests/services/TagManagementService.Tests/Infrastructure/DependencyInjection.cs
  envelope-backend/tests/services/TagManagementService.Tests/Infrastructure/Repositories/CommonStorage.cs
  envelope-backend/tests/services/TagManagementService.Tests/Infrastructure/Repositories/MockCommonTagRepository.cs
  envelope-backend/tests/services/TagManagementService.Tests/TagManagementService.Tests.csproj
  envelope-backend/tests/services/TagManagementService.Tests/TagManagementServiceTests/NegativeTagManagementServiceTests.cs
  envelope-backend/tests/services/TagManagementService.Tests/TagManagementServiceTests/PositiveTagManagementServiceTests.cs
Labels: enhancement, backend

#28 #ENVELOPEDEV32 API GATEWAY
  .gitignore
  envelope-backend/docker-compose.yml
  envelope-backend/envelope-backend.sln
  envelope-backend/src/infrastructure/Envelope.ApiGateway/.dockerignore
  envelope-backend/src/infrastructure/Envelope.ApiGateway/Dockerfile
  envelope-backend/src/infrastructure/Envelope.ApiGateway/Envelope.ApiGateway.csproj
  envelope-backend/src/infrastructure/Envelope.ApiGateway/Program.cs
  envelope-backend/src/infrastructure/Envelope.ApiGateway/Properties/launchSettings.json
  envelope-backend/src/infrastructure/Envelope.ApiGateway/appsettings.Development.json
  envelope-backend/src/infrastructure/Envelope.ApiGateway/appsettings.json
  envelope-backend/src/infrastructure/Envelope.Common/Auth/DependencyInjection.cs
  envelope-backend/src/infrastructure/Envelope.Common/Envelope.Common.csproj
  envelope-backend/src/services/CoursesService/CoursesService.API/Controllers/CourseBlockController.cs
  envelope-backend/src/services/CoursesService/CoursesService.API/Controllers/CourseController.cs
  envelope-backend/src/services/CoursesService/CoursesService.API/Controllers/CourseTaskController.cs
  envelope-backend/src/services/CoursesService/CoursesService.API/Program.cs
  envelope-backend/src/services/CoursesService/CoursesService.API/appsettings.json
  envelope-backend/src/services/TaskService/TaskService.API/Controllers/TaskController.cs
  envelope-backend/src/services/TaskService/TaskService.API/Controllers/TaskProjectionController.cs
  envelope-backend/src/services/TaskService/TaskService.API/Program.cs
  envelope-backend/src/services/TaskService/TaskService.API/appsettings.json
Labels: enhancement, backend, infrastracture

#29 #ENVELOPEDEV48 Создание базовой формы для создание задач
  envelope-backend/src/infrastructure/Envelope.ApiGateway/Program.cs
  envelope-backend/src/services/TaskService/TaskService.API/Controllers/TaskController.cs
  envelope-backend/src/services/TaskService/TaskService.API/Program.cs
  envelope-frontend/package-lock.json
  envelope-frontend/package.json
  envelope-frontend/src/app/assets/imgs/terminal.png
  envelope-frontend/src/app/assets/styles/variables.css
  envelope-frontend/src/app/components/formula/formulaInput/FormulaInput.props.ts
  envelope-frontend/src/app/components/formula/formulaInput/FormulaInput.tsx
  envelope-frontend/src/app/components/formula/formulaOutput/FormulaOutput.props.ts
  envelope-frontend/src/app/components/formula/formulaOutput/FormulaOutput.tsx
  envelope-frontend/src/app/components/layout/Layout.tsx
  envelope-frontend/src/app/components/layout/header/Header.module.css
  envelope-frontend/src/app/components/layout/header/Header.tsx
  envelope-frontend/src/app/components/tasks/taskComponent/TaskComponent.module.css
  envelope-frontend/src/app/components/tasks/taskComponent/TaskComponent.props.ts
  envelope-frontend/src/app/components/tasks/taskComponent/TaskComponent.tsx
  envelope-frontend/src/app/components/teaching/cardComponent/CardComponent.module.css
  envelope-frontend/src/app/components/teaching/cardComponent/CardComponent.props.ts
  envelope-frontend/src/app/components/teaching/cardComponent/CardComponent.tsx
  envelope-frontend/src/app/enums/dificulity.ts
  envelope-frontend/src/app/layout.tsx
  envelope-frontend/src/app/page.tsx
  envelope-frontend/src/app/services/taskService.ts
  envelope-frontend/src/app/tasks/create/page.tsx
  envelope-frontend/src/app/tasks/page.tsx
  envelope-frontend/src/app/teaching/page.module.css
  envelope-frontend/src/app/teaching/page.tsx
  envelope-frontend/src/app/types/task.ts
Labels: backend, infrastracture, frontend

#30 Dev
  .gitignore
  envelope-backend/docker-compose.yml
  envelope-backend/envelope-backend.sln
  envelope-backend/src/infrastructure/Envelope.ApiGateway/.dockerignore
  envelope-backend/src/infrastructure/Envelope.ApiGateway/Dockerfile
  envelope-backend/src/infrastructure/Envelope.ApiGateway/Envelope.ApiGateway.csproj
  envelope-backend/src/infrastructure/Envelope.ApiGateway/Program.cs
  envelope-backend/src/infrastructure/Envelope.ApiGateway/Properties/launchSettings.json
  envelope-backend/src/infrastructure/Envelope.ApiGateway/appsettings.Development.json
  envelope-backend/src/infrastructure/Envelope.ApiGateway/appsettings.json
  envelope-backend/src/infrastructure/Envelope.Common/Auth/DependencyInjection.cs
  envelope-backend/src/infrastructure/Envelope.Common/Enums/Role.cs
  envelope-backend/src/infrastructure/Envelope.Common/Envelope.Common.csproj
  envelope-backend/src/infrastructure/Envelope.Common/Messages/ResponseMessages/Users/UserInfoMessage.cs
  envelope-backend/src/services/AuthService/AuthService.API/appsettings.json
  envelope-backend/src/services/AuthService/AuthService.Application/BackgroundServices/AuthBackgroundService.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Services/UserService.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Utilities/JWTHelper.cs
  envelope-backend/src/services/AuthService/AuthService.Domain/AuthService.Domain.csproj
  envelope-backend/src/services/AuthService/AuthService.Domain/Entities/User.cs
  envelope-backend/src/services/CoursesService/CoursesService.API/Controllers/CourseBlockController.cs
  envelope-backend/src/services/CoursesService/CoursesService.API/Controllers/CourseController.cs
  envelope-backend/src/services/CoursesService/CoursesService.API/Controllers/CourseTaskController.cs
  envelope-backend/src/services/CoursesService/CoursesService.API/Program.cs
  envelope-backend/src/services/CoursesService/CoursesService.API/appsettings.json
  envelope-backend/src/services/TaskService/TaskService.API/Controllers/TaskController.cs
  envelope-backend/src/services/TaskService/TaskService.API/Controllers/TaskProjectionController.cs
  envelope-backend/src/services/TaskService/TaskService.API/Program.cs
  envelope-backend/src/services/TaskService/TaskService.API/appsettings.json
  envelope-backend/tests/services/AuthService.Tests/AuthServiceTests/NegativeAuthServiceTetsts.cs
  envelope-backend/tests/services/AuthService.Tests/AuthServiceTests/PositiveAuthServiceTests.cs
  envelope-frontend/package-lock.json
  envelope-frontend/package.json
  envelope-frontend/src/app/assets/imgs/terminal.png
  envelope-frontend/src/app/assets/styles/variables.css
  envelope-frontend/src/app/components/formula/formulaInput/FormulaInput.props.ts
  envelope-frontend/src/app/components/formula/formulaInput/FormulaInput.tsx
  envelope-frontend/src/app/components/formula/formulaOutput/FormulaOutput.props.ts
  envelope-frontend/src/app/components/formula/formulaOutput/FormulaOutput.tsx
  envelope-frontend/src/app/components/layout/Layout.tsx
  envelope-frontend/src/app/components/layout/header/Header.module.css
  envelope-frontend/src/app/components/layout/header/Header.tsx
  envelope-frontend/src/app/components/tasks/taskComponent/TaskComponent.module.css
  envelope-frontend/src/app/components/tasks/taskComponent/TaskComponent.props.ts
  envelope-frontend/src/app/components/tasks/taskComponent/TaskComponent.tsx
  envelope-frontend/src/app/components/teaching/cardComponent/CardComponent.module.css
  envelope-frontend/src/app/components/teaching/cardComponent/CardComponent.props.ts
  envelope-frontend/src/app/components/teaching/cardComponent/CardComponent.tsx
  envelope-frontend/src/app/enums/dificulity.ts
  envelope-frontend/src/app/layout.tsx
  envelope-frontend/src/app/page.tsx
  envelope-frontend/src/app/services/taskService.ts
  envelope-frontend/src/app/tasks/create/page.tsx
  envelope-frontend/src/app/tasks/page.tsx
  envelope-frontend/src/app/teaching/page.module.css
  envelope-frontend/src/app/teaching/page.tsx
  envelope-frontend/src/app/types/task.ts
Labels: frontend
