Repository xefheh/envelope, pull requests merged in 2024-10, with the labels that each got.

#4 #envelopedev14 feature
  envelope-backend/envelope-backend.sln
  envelope-backend/src/services/AuthService/AuthService.Application/AuthService.Application.csproj
  envelope-backend/src/services/AuthService/AuthService.Application/Config/AuthOptions.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Exceptions/EmailExistsException.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Exceptions/EmailNotExistsException.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Exceptions/InvalidEmailException.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Exceptions/InvalidPasswordException.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Exceptions/UsernameExistsException.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Exceptions/UsernameNotExistsException.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Repositories/IUserRepository.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Requests/LoginRequest.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Requests/RegisterRequest.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Responses/UserDTO.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Services/UserService.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Utilities/HashHelper.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Utilities/JWTGenerator.cs
  envelope-backend/src/services/AuthService/AuthService.Domain/Entities/User.cs
  envelope-backend/src/services/AuthService/AuthService.Domain/Enums/Role.cs
  envelope-backend/src/services/AuthService/AuthService.Persistence/AuthService.Persistence.csproj
  envelope-backend/src/services/AuthService/AuthService.Persistence/Data/UserContext.cs
  envelope-backend/src/services/AuthService/AuthService.Persistence/Repositories/UserRepository.cs
  envelope-backend/src/services/AuthService/SQL/envelope.sql
  envelope-backend/tests/services/AuthService.Tests/AuthService.Tests.csproj
  envelope-backend/tests/services/AuthService.Tests/AuthServiceTests/NegativeAuthServiceTetsts.cs
  envelope-backend/tests/services/AuthService.Tests/AuthServiceTests/PositiveAuthServiceTests.cs
  envelope-backend/tests/services/AuthService.Tests/Infrastructure/DependencyInjection.cs
  envelope-backend/tests/services/AuthService.Tests/Infrastructure/Repositories/CommonStorage.cs
  envelope-backend/tests/services/AuthService.Tests/Infrastructure/Repositories/MockCommonAuthRepository.cs
Labels: enhancement, backend

#7 #ENVELOPEDEV31 API: Задачи
  envelope-backend/envelope-backend.sln
  envelope-backend/src/services/TaskService/TaskService.API/Controllers/TaskController.cs
  envelope-backend/src/services/TaskService/TaskService.API/Controllers/TaskProjectionController.cs
  envelope-backend/src/services/TaskService/TaskService.API/Program.cs
  envelope-backend/src/services/TaskService/TaskService.API/Properties/launchSettings.json
  envelope-backend/src/services/TaskService/TaskService.API/TaskService.API.csproj
  envelope-backend/src/services/TaskService/TaskService.API/appsettings.Development.json
  envelope-backend/src/services/TaskService/TaskService.API/appsettings.json
  envelope-backend/src/services/TaskService/TaskService.Application/EventStore/ITaskEventStore.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/AddTask/AddTaskCommandHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/RefuseTask/RefuseTaskCommandHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/RemoveTask/RemoveTaskCommandHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/SentToCheckTask/SentToCheckTaskCommandHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/SentToGlobalTask/SentToGlobalTaskCommandHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/UpdateTask/UpdateTaskCommandHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Notifications/GlobalProjectionNotificationsHandler/GlobalProjectionRemoveNotificationHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Notifications/GlobalProjectionNotificationsHandler/GlobalProjectionSentToGlobalNotificationHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Notifications/GlobalProjectionNotificationsHandler/GlobalProjectionUpdateNotificationHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Notifications/SentToCheckTaskProjectionNotificationsHandler/SentToCheckProjectionAddNotificationHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Notifications/SentToCheckTaskProjectionNotificationsHandler/SentToCheckProjectionRemoveNotificationHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Notifications/SentToCheckTaskProjectionNotificationsHandler/SentToCheckProjectionUpdateNotificationHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Notifications/TaskProjectionNotificationsHandler/TaskProjectionAddNotificationHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Notifications/TaskProjectionNotificationsHandler/TaskProjectionRemoveNotificationHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Notifications/TaskProjectionNotificationsHandler/TaskProjectionUpdateNotificationHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Domain/Aggregates/Task.cs
  envelope-backend/src/services/TaskService/TaskService.Domain/Events/Base/BaseTaskEvent.cs
  envelope-backend/src/services/TaskService/TaskService.Domain/Events/BaseTaskCreated.cs
  envelope-backend/src/services/TaskService/TaskService.Domain/Events/BaseTaskRefused.cs
  envelope-backend/src/services/TaskService/TaskService.Domain/Events/BaseTaskRemoved.cs
  envelope-backend/src/services/TaskService/TaskService.Domain/Events/BaseTaskSentToCheck.cs
  envelope-backend/src/services/TaskService/TaskService.Domain/Events/BaseTaskSentToGlobal.cs
  envelope-backend/src/services/TaskService/TaskService.Domain/Events/BaseTaskUpdated.cs
  envelope-backend/src/services/TaskService/TaskService.Domain/Events/TaskRemoved.cs
  envelope-backend/src/services/TaskService/TaskService.Domain/Interfaces/ITaskAggregate.cs
  envelope-backend/src/services/TaskService/TaskService.Persistence/Configurations/EventConfigurations/TaskEventRepositoryConfiguration.cs
  envelope-backend/src/services/TaskService/TaskService.Persistence/Contexts/TaskEventStoreContext.cs
  envelope-backend/src/services/TaskService/TaskService.Persistence/DependencyInjection.cs
  envelope-backend/src/services/TaskService/TaskService.Persistence/EventStore/EfTaskEventStore.cs
  envelope-backend/src/services/TaskService/TaskService.Persistence/Migrations/EventStore/20241017111116_InitialEventStore.Designer.cs
  envelope-backend/src/services/TaskService/TaskService.Persistence/Migrations/EventStore/20241017111116_InitialEventStore.cs
  envelope-backend/src/services/TaskService/TaskService.Persistence/Migrations/EventStore/TaskEventStoreContextModelSnapshot.cs
  envelope-backend/src/services/TaskService/TaskService.Persistence/Migrations/Projections/20241017110957_InitialProjectionDb.Designer.cs
  envelope-backend/src/services/TaskService/TaskService.Persistence/Migrations/Projections/20241017110957_InitialProjectionDb.cs
  envelope-backend/src/services/TaskService/TaskService.Persistence/Migrations/Projections/TaskWriteOnlyContextModelSnapshot.cs
  envelope-backend/tests/services/TaskService.Tests/TaskServiceApplication.Tests/CommandHandlerTests/PositiveDefaultCommandHandlersTests.cs
  envelope-backend/tests/services/TaskService.Tests/TaskServiceApplication.Tests/Infrastructure/EventStore/MockTaskEventStore.cs
Labels: bug, enhancement, backend

#9 Envelopedev29 feature
  envelope-backend/envelope-backend.sln
  envelope-backend/src/services/AuthService/AuthService.API/AuthService.API.csproj
  envelope-backend/src/services/AuthService/AuthService.API/Controllers/UserController.cs
  envelope-backend/src/services/AuthService/AuthService.API/Program.cs
  envelope-backend/src/services/AuthService/AuthService.API/Properties/launchSettings.json
  envelope-backend/src/services/AuthService/AuthService.API/appsettings.Development.json
  envelope-backend/src/services/AuthService/AuthService.API/appsettings.json
  envelope-backend/src/services/AuthService/AuthService.Application/AuthService.Application.csproj
  envelope-backend/src/services/AuthService/AuthService.Application/DependencyInjection.cs
  envelope-backend/src/services/AuthService/AuthService.Persistence/AuthService.Persistence.csproj
  envelope-backend/src/services/AuthService/AuthService.Persistence/Data/UserContext.cs
  envelope-backend/src/services/AuthService/AuthService.Persistence/DependencyInjection.cs
  envelope-backend/src/services/AuthService/AuthService.Persistence/Exceptions/NotFoundConnectionStringException.cs
  envelope-backend/src/services/AuthService/AuthService.Persistence/Migrations/20241018172330_InitializeMigration.Designer.cs
  envelope-backend/src/services/AuthService/AuthService.Persistence/Migrations/20241018172330_InitializeMigration.cs
  envelope-backend/src/services/AuthService/AuthService.Persistence/Migrations/UserContextModelSnapshot.cs
  envelope-backend/src/services/AuthService/AuthService.Persistence/Repositories/UserRepository.cs
Labels: enhancement, backend

#10 #ENVELOPEDEV40 Перевод ответов в Result паттерн
  envelope-backend/src/services/AuthService/AuthService.API/Controllers/UserController.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Common/Result.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Services/UserService.cs
  envelope-backend/tests/services/AuthService.Tests/AuthServiceTests/NegativeAuthServiceTetsts.cs
  envelope-backend/tests/services/AuthService.Tests/AuthServiceTests/PositiveAuthServiceTests.cs
Labels: enhancement, backend

#12 #ENVELOPED33 Docker, контейнезировать всё
  envelope-backend/.dockerignore
  envelope-backend/docker-compose.yml
  envelope-backend/runScripts/start_all_backend.ps1
  envelope-backend/runScripts/start_all_backend.sh
  envelope-backend/runScripts/start_only_auth_serivce.sh
  envelope-backend/runScripts/start_only_auth_service.ps1
  envelope-backend/runScripts/start_only_courses_serivce.sh
  envelope-backend/runScripts/start_only_courses_service .ps1
  envelope-backend/runScripts/start_only_task_serivce.sh
  envelope-backend/runScripts/start_only_task_service.ps1
  envelope-backend/src/services/AuthService/AuthService.API/Program.cs
  envelope-backend/src/services/AuthService/AuthService.API/Properties/launchSettings.json
  envelope-backend/src/services/AuthService/Dockerfile
  envelope-backend/src/services/AuthService/SQL/envelope.sql
  envelope-backend/src/services/CoursesService/CoursesService.API/CoursesService.API.csproj
  envelope-backend/src/services/CoursesService/CoursesService.API/Program.cs
  envelope-backend/src/services/CoursesService/CoursesService.API/Properties/launchSettings.json
  envelope-backend/src/services/CoursesService/CoursesService.Domain/CoursesService.Domain.csproj
  envelope-backend/src/services/CoursesService/CoursesService.Persistence/CoursesService.Persistence.csproj
  envelope-backend/src/services/CoursesService/CoursesService.Persistence/DependencyInjection.cs
  envelope-backend/src/services/CoursesService/Dockerfile
  envelope-backend/src/services/TaskService/Dockerfile
  envelope-backend/src/services/TaskService/TaskService.API/Program.cs
  envelope-backend/src/services/TaskService/TaskService.API/Properties/launchSettings.json
  envelope-backend/src/services/TaskService/TaskService.API/TaskService.API.csproj
Labels: enhancement, backend, infrastracture

#14 #envelopedev28 ML сервис на питоне
  envelope-backend/src/services/MLService/app/alembic.ini
  envelope-backend/src/services/MLService/app/alembic/README
  envelope-backend/src/services/MLService/app/alembic/env.py
  envelope-backend/src/services/MLService/app/alembic/script.py.mako
  envelope-backend/src/services/MLService/app/alembic/versions/126315453af3_initial.py
  envelope-backend/src/services/MLService/app/database.py
  envelope-backend/src/services/MLService/app/main.py
  envelope-backend/src/services/MLService/app/models/Tag.py
  envelope-backend/src/services/MLService/app/repositories/TagRepositories.py
  envelope-backend/src/services/MLService/app/schemas/schemas.py
  envelope-backend/src/services/MLService/app/services/ClassificationService.py
  envelope-backend/src/services/MLService/app/services/TagService.py
  envelope-backend/src/services/MLService/requirements.txt
Labels: enhancement, backend, ml

#15 #ENVELOPEDEV17 Создание layout страниц
  envelope-frontend/.eslintrc.json
  envelope-frontend/.gitignore
  envelope-frontend/next.config.ts
  envelope-frontend/package-lock.json
  envelope-frontend/package.json
  envelope-frontend/src/app/assets/styles/fonts.css
  envelope-frontend/src/app/assets/styles/reset.css
  envelope-frontend/src/app/assets/styles/variables.css
  envelope-frontend/src/app/components/layout/Layout.module.css
  envelope-frontend/src/app/components/layout/Layout.props.ts
  envelope-frontend/src/app/components/layout/Layout.tsx
  envelope-frontend/src/app/components/layout/footer/Footer.module.css
  envelope-frontend/src/app/components/layout/footer/Footer.tsx
  envelope-frontend/src/app/components/layout/header/Header.module.css
  envelope-frontend/src/app/components/layout/header/Header.tsx
  envelope-frontend/src/app/courses/page.tsx
  envelope-frontend/src/app/globals.css
  envelope-frontend/src/app/join/page.tsx
  envelope-frontend/src/app/layout.tsx
  envelope-frontend/src/app/page.tsx
  envelope-frontend/src/app/tasks/page.tsx
  envelope-frontend/tsconfig.json
Labels: enhancement, frontend

#16 Dev sprint #2 (27.10.2024)
  envelope-frontend/.eslintrc.json
  envelope-frontend/.gitignore
  envelope-frontend/next.config.ts
  envelope-frontend/package-lock.json
  envelope-frontend/package.json
  envelope-frontend/src/app/assets/styles/fonts.css
  envelope-frontend/src/app/assets/styles/reset.css
  envelope-frontend/src/app/assets/styles/variables.css
  envelope-frontend/src/app/components/layout/Layout.module.css
  envelope-frontend/src/app/components/layout/Layout.props.ts
  envelope-frontend/src/app/components/layout/Layout.tsx
  envelope-frontend/src/app/components/layout/footer/Footer.module.css
  envelope-frontend/src/app/components/layout/footer/Footer.tsx
  envelope-frontend/src/app/components/layout/header/Header.module.css
  envelope-frontend/src/app/components/layout/header/Header.tsx
  envelope-frontend/src/app/courses/page.tsx
  envelope-frontend/src/app/globals.css
  envelope-frontend/src/app/join/page.tsx
  envelope-frontend/src/app/layout.tsx
  envelope-frontend/src/app/page.tsx
  envelope-frontend/src/app/tasks/page.tsx
  envelope-frontend/tsconfig.json
Labels: enhancement, realese, frontend

#18 #ENVELOPEDEV44 создание общей библиотеки
  README.md
  envelope-backend/README.md
  envelope-backend/docker-compose.yml
  envelope-backend/envelope-backend.sln
  envelope-backend/src/infrastructure/Envelope.Common/Envelope.Common.csproj
  envelope-backend/src/infrastructure/Envelope.Common/Exceptions/NotFoundException.cs
  envelope-backend/src/infrastructure/Envelope.Common/ResultPattern/Result.cs
  envelope-backend/src/infrastructure/README.md
  envelope-backend/src/services/AuthService/AuthService.Application/AuthService.Application.csproj
  envelope-backend/src/services/AuthService/AuthService.Application/Common/Result.cs
  envelope-backend/src/services/AuthService/AuthService.Application/Services/UserService.cs
  envelope-backend/src/services/AuthService/Dockerfile
  envelope-backend/src/services/CoursesService/CoursesService.Application/Common/Result.cs
  envelope-backend/src/services/CoursesService/CoursesService.Application/CoursesService.Application.csproj
  envelope-backend/src/services/CoursesService/CoursesService.Application/Exceptions/NotFoundException.cs
  envelope-backend/src/services/CoursesService/CoursesService.Application/Services/CourseBlockService.cs
  envelope-backend/src/services/CoursesService/CoursesService.Application/Services/CourseService.cs
  envelope-backend/src/services/CoursesService/CoursesService.Application/Services/CourseTaskService.cs
  envelope-backend/src/services/CoursesService/CoursesService.Application/Services/Interfaces/ICourseBlockService.cs
  envelope-backend/src/services/CoursesService/CoursesService.Application/Services/Interfaces/ICourseService.cs
  envelope-backend/src/services/CoursesService/CoursesService.Application/Services/Interfaces/ICourseTaskService.cs
  envelope-backend/src/services/CoursesService/Dockerfile
  envelope-backend/src/services/TaskService/Dockerfile
  envelope-backend/src/services/TaskService/TaskService.Application/Common/Result.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Exceptions/NotFoundException.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/AddTask/AddTaskCommand.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/AddTask/AddTaskCommandHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/RefuseTask/RefuseTaskCommand.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/RefuseTask/RefuseTaskCommandHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/RemoveTask/RemoveTaskCommand.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/RemoveTask/RemoveTaskCommandHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/SentToCheckTask/SentToCheckTaskCommand.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/SentToCheckTask/SentToCheckTaskCommandHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/SentToGlobalTask/SentToGlobalTaskCommand.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/SentToGlobalTask/SentToGlobalTaskCommandHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/UpdateTask/UpdateTaskCommand.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Commands/UpdateTask/UpdateTaskCommandHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Queries/GlobalProjectionQueriesHandler/GetAllGlobalProjection/GetAllGlobalProjectionQuery.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Queries/GlobalProjectionQueriesHandler/GetAllGlobalProjection/GetAllGlobalProjectionQueryHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Queries/GlobalProjectionQueriesHandler/GetGlobalProjection/GetGlobalProjectionQuery.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Queries/GlobalProjectionQueriesHandler/GetGlobalProjection/GetGlobalProjectionQueryHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Queries/SentToCheckProjectionQueryHandler/GetAllSentToCheckProjection/GetAllSentToCheckProjectionQuery.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Queries/SentToCheckProjectionQueryHandler/GetAllSentToCheckProjection/GetAllSentToCheckProjectionQueryHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Queries/SentToCheckProjectionQueryHandler/GetSentToCheckProjection/GetSentToCheckProjectionQuery.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Queries/SentToCheckProjectionQueryHandler/GetSentToCheckProjection/GetSentToCheckProjectionQueryHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Queries/TaskProjectionProjection/GetAllTaskProjection/GetAllTaskProjectionQuery.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Queries/TaskProjectionProjection/GetAllTaskProjection/GetAllTaskProjectionQueryHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Queries/TaskProjectionProjection/GetTaskProjection/GetTaskProjectionQuery.cs
  envelope-backend/src/services/TaskService/TaskService.Application/Handlers/Queries/TaskProjectionProjection/GetTaskProjection/GetTaskProjectionQueryHandler.cs
  envelope-backend/src/services/TaskService/TaskService.Application/TaskService.Application.csproj
  envelope-backend/tests/services/CoursesService.Tests/NegativeCourseServiceTests.cs
  envelope-backend/tests/services/TaskService.Tests/TaskServiceApplication.Tests/CommandHandlerTests/NegativeDefaultCommandHandlersTests.cs
  envelope-backend/tests/services/TaskService.Tests/TaskServiceApplication.Tests/CommandHandlerTests/PositiveDefaultCommandHandlersTests.cs
Labels: enhancement, backend, infrastracture
